{{template "base/base.html" .}}
{{template "base/base_common.html" .}}
{{define "meta"}}<title>{{i18n .Lang "auth.user_profile"}} -{{i18n .Lang "app_name"}} </title>{{end}}
{{define "body"}}
  <div class="layout">
  {{template "base/topbar.html" .}}
    <!--===========layout-container================-->
    <div class="layout-container">
      <div class="index-page">
        <div data-am-widget="tabs" class="am-tabs am-tabs-default">
          <div class="am-tabs-bd">
            <div data-tab-panel-0 class="am-tab-panel am-active">
              <div class="index-banner">
                <div class="index-mask">
                  <div class="container">
                    <div class="am-g">
                      <div class="am-u-md-10 am-u-sm-centered">
                        <h1 class="slide_simple--title">火影手游</h1>
                        <p class="slide_simple--text am-text-center">
												  火影手游 强势来袭！
											  </p>
                        <div class="slide_simple--buttons">
  												<button type="button" class="am-btn am-btn-danger">了解更多</button>
											  </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-tab-panel-1 class="am-tab-panel ">
              <div class="index-banner">
                <div class="index-mask">
                  <div class="container">
                    <div class="am-g">
                      <div class="am-u-md-10 am-u-sm-centered">
                        <h1 class="slide_simple--title">火影手游</h1>
                        <p class="slide_simple--text am-text-center">
												  火影手游 强势来袭！
											  </p>
                        <div class="slide_simple--buttons">
  												<button type="button" class="am-btn am-btn-danger">了解更多</button>
											  </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-tab-panel-2 class="am-tab-panel ">
              <div class="index-banner">
                <div class="index-mask">
                  <div class="container">
                    <div class="am-g">
                      <div class="am-u-md-10 am-u-sm-centered">
                        <h1 class="slide_simple--title">火影手游</h1>
                        <p class="slide_simple--text am-text-center">
												  火影手游 强势来袭！
											  </p>
                        <div class="slide_simple--buttons">
  												<button type="button" class="am-btn am-btn-danger">了解更多</button>
											  </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-tab-panel-3 class="am-tab-panel ">
              <div class="index-banner">
                <div class="index-mask">
                  <div class="container">
                    <div class="am-g">
                      <div class="am-u-md-10 am-u-sm-centered">
                        <h1 class="slide_simple--title">火影手游</h1>
                        <p class="slide_simple--text am-text-center">
												  火影手游 强势来袭！
											  </p>
                        <div class="slide_simple--buttons">
  												<button type="button" class="am-btn am-btn-danger">了解更多</button>
											  </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ul class="am-tabs-nav am-cf index-tab">
            <li class="am-active">
              <a href="[data-tab-panel-0] am-g">
                <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                  <i class="am-icon-cog"></i>
                </div>
                <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                  <strong class="promo_slider_nav--item_title">超炫画面</strong>
                  <p class="promo_slider_nav--item_description">顶级游戏画面</p>
                </div>
              </a>
            </li>
            <li class="a">
              <a href="[data-tab-panel-1] am-g">
                <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                  <i class="am-icon-lightbulb-o"></i>
                </div>
                <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                  <strong class="promo_slider_nav--item_title">流畅操作</strong>
                  <p class="promo_slider_nav--item_description">如行云流水般的操作体验</p>
                </div>
              </a>
            </li>
            <li class="">
              <a href="[data-tab-panel-2] am-g">
                <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                  <i class="am-icon-line-chart"></i>
                </div>
                <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                  <strong class="promo_slider_nav--item_title">超强打击感</strong>
                  <p class="promo_slider_nav--item_description">来一场酣畅淋漓的PK</p>
                </div>
              </a>
            </li>
            <li class="">
              <a href="[data-tab-panel-3] am-g">
                <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                  <i class="am-icon-hourglass-end"></i>
                </div>
                <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                  <strong class="promo_slider_nav--item_title">敬请期待</strong>
                  <p class="promo_slider_nav--item_description">即将推出</p>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
 
    <div class="section">
      <div class="container">
        <div class="section--header">
					<h2 class="section--title">核心优势</h2>
					<p class="section--description">
						全球领先的开发团队
						<br>业界老兵，带你一起飞。
					</p>
				</div>

        <!--index-container start-->
        <div class="index-container">
          <div class="am-g">
            <div class="am-u-md-3">
              <div class="features_item">
								<img src="/static/images/index/f01.jpg" alt="">
								<h3 class="features_item--title">明星团队</h3>
								<p class="features_item--text">
									一流的开发团队。
								</p>
							</div>
            </div>
            <div class="am-u-md-3">
              <div class="features_item">
								<img src="/static/images/index/f02.jpg" alt="">
								<h3 class="features_item--title">丰富的开发经验</h3>
								<p class="features_item--text">
									团队成员，多年游戏行业经验，一定能带给你不一样的体验。
								</p>
							</div>
            </div>
            <div class="am-u-md-3">
              <div class="features_item">
								<img src="/static/images/index/f04.jpg" alt="">
								<h3 class="features_item--title">公平游戏</h3>
								<p class="features_item--text">
									专业的策划，专业的数值。给你一个公平的游戏环境
								</p>
							</div>
            </div>
            <div class="am-u-md-3">
              <div class="features_item">
								<img src="/static/images/index/f03.jpg" alt="">
								<h3 class="features_item--title">24小时快速响应</h3>
								<p class="features_item--text">
									专业的客服团队，随时等候你的召唤。
							</div>
            </div>
          </div>

          <div class="index-more">
            <button type="button" class="am-btn am-btn-secondary">MORE&nbsp;&nbsp;>></button>
          </div>
        </div>
        <!--index-container end-->
      </div>
    </div> -->

  </div>

  <div class="section promo_banner-container">
    <!--index-container start-->
    <div class="promo_banner-box">
      <div class="container">
        <h2 class="promo_banner--title">期待您的加入</h2>
        <p class="promo_banner--text">
					我们正用自己的技术力量一步一步改变世界。
					<br> 如果你有一个游戏的梦想，如果你也想改变世界
					<br> 那就加入我们吧。
        <footer class="promo_banner--footer">
					<button type="button" class="am-btn am-btn-secondary">MORE>></button>
				</footer>
      </div>
    </div>
    <!--index-container end-->
  </div>

  <!--customer-logo start-->
    <div class="customer-logo">
      <div class="container">
        <div class="am-g">
          <div class="am-u-md-2 am-u-sm-4 customer-box">
            <a href="#">
              <img class="normal-logo" src="/static/images/index/customer_logo_Microsoft.png" alt="" />
              <img class="am-active"  alt=""src="/static/images/index/customer_logo_Microsoft_active.png" alt="" />
            </a>
          </div>
          <div class="am-u-md-2 am-u-sm-4 customer-box">
            <a href="#">
              <img class="normal-logo" src="/static/images/index/customer_logo_qhdx.png" alt="" />
              <img class="am-active" src="/static/images/index/customer_logo_qhdx_active.png" alt="" />
            </a>
          </div>
          <div class="am-u-md-2 am-u-sm-4 customer-box">
            <a href="#">
              <img class="normal-logo" src="/static/images/index/customer_logo_gmw.png" alt="" />
              <img class="am-active" src="/static/images/index/customer_logo_gmw_active.png" alt="" />
            </a>
          </div>
          <div class="am-u-md-2 am-u-sm-4 customer-box">
            <a href="#">
              <img class="normal-logo" src="/static/images/index/customer_logo_gov.png" alt="" />
              <img class="am-active" src="/static/images/index/customer_logo_gov_active.png" alt="" />
            </a>
          </div>
          <div class="am-u-md-2 am-u-sm-4 customer-box">
            <a href="#">
              <img class="normal-logo" src="/static/images/index/customer_logo_jl.png" alt="" />
              <img class="am-active" src="/static/images/index/customer_logo_jl_active.png" alt="" />
            </a>
          </div>
          <div class="am-u-md-2 am-u-sm-4 customer-box">
            <a href="#">
              <img class="normal-logo" src="/static/images/index/customer_logo_hx.png" alt="" />
              <img class="am-active" src="/static/images/index/customer_logo_hx_active.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  <!--customer-logo end-->
{{end}}
