<!--nav start-->
<div class="nav-contain">
    <div class="nav-inner">
        <ul class="am-nav am-nav-pills am-nav-justify">
            <li class=""><a href="/">首页</a></li>
            <li>
                <a href="#">产品中心</a>
                <!-- sub-menu start-->
                <ul class="sub-menu">
                    <li class="menu-item"><a href="#">火影</a></li>
                </ul>
                <!-- sub-menu end-->
            </li>

            <li>
                <a href="#">新闻中心</a>
                <!-- sub-menu start-->
                <ul class="sub-menu">
                    <li class="menu-item"><a href="#">公司动态</a></li>
                    <li class="menu-item"><a href="#">行业动态</a></li>
                    <li class="menu-item"><a href="#">精彩专题</a></li>
                </ul>
                <!-- sub-menu end-->
            </li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">加入我们</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </div>
</div>
<!--nav end-->