{{template "Header" .}}

<body class="nobg errorPage">

<!-- Top fixed navigation -->
{{template "Nav" .}}   

<!-- Main content wrapper -->
<div class="errorWrapper">
    <span class="sadEmo"></span>
    <span class="errorTitle">Ahh, something went wrong here :(</span>
    <span class="errorNum">404</span>
    <span class="errorDesc">Oops! Sorry, an error has occured. Page not found!</span>
    <a href="index.html" title="" class="button dredB"><span>Back to dashboard</span></a>
</div>    
    
</body>
</html>