{{define "Header"}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<title>{{.title}}</title>
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/static/js/jquery.min.js"></script>

<script type="text/javascript" src="/static/js/plugins/spinner/ui.spinner.js"></script>
<script type="text/javascript" src="/static/js/plugins/spinner/jquery.mousewheel.js"></script>

<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="/static/js/plugins/charts/excanvas.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/charts/jquery.sparkline.min.js"></script>

<script type="text/javascript" src="/static/js/plugins/forms/uniform.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/jquery.cleditor.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/jquery.validationEngine.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/autogrowtextarea.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/jquery.dualListBox.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/jquery.inputlimiter.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/forms/chosen.jquery.min.js"></script>

<script type="text/javascript" src="/static/js/plugins/wizard/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/plugins/wizard/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/wizard/jquery.form.wizard.js"></script>

<script type="text/javascript" src="/static/js/plugins/uploader/plupload.js"></script>
<script type="text/javascript" src="/static/js/plugins/uploader/plupload.html5.js"></script>
<script type="text/javascript" src="/static/js/plugins/uploader/plupload.html4.js"></script>
<script type="text/javascript" src="/static/js/plugins/uploader/jquery.plupload.queue.js"></script>

<script type="text/javascript" src="/static/js/plugins/tables/datatable.js"></script>
<script type="text/javascript" src="/static/js/plugins/tables/tablesort.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/tables/resizable.min.js"></script>

<script type="text/javascript" src="/static/js/plugins/ui/jquery.tipsy.js"></script>
<script type="text/javascript" src="/static/js/plugins/ui/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/ui/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/static/js/plugins/ui/jquery.progress.js"></script>
<script type="text/javascript" src="/static/js/plugins/ui/jquery.timeentry.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/ui/jquery.colorpicker.js"></script>
<script type="text/javascript" src="/static/js/plugins/ui/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/static/js/plugins/ui/jquery.breadcrumbs.js"></script>
<script type="text/javascript" src="/static/js/plugins/ui/jquery.sourcerer.js"></script>

<script type="text/javascript" src="/static/js/plugins/calendar.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/elfinder.min.js"></script>

<script type="text/javascript" src="/static/js/custom.js"></script>

<!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>
{{end}}

{{define "LeftNav"}}
<div id="leftSide">
    <div class="logo"><a href="index.html"><img src="/static/images/logo.png" alt="" /></a></div>
    
    <div class="sidebarSep mt0"></div>
    
    <!-- Search widget -->
    <form action="" class="sidebarSearch">
        <input type="text" name="search" placeholder="search..." id="ac" />
        <input type="submit" value="" />
    </form>
    
    <div class="sidebarSep"></div>
    
    <div class="sidebarSep"></div>
    
    <!-- Left navigation -->
    <ul id="menu" class="nav">
        <li class="dash"><a href="/index" title="" {{if eq .active "index"}} class="active" {{end}} ><span>控制面板</span></a></li>
        <li class="charts"><a href="charts.html" title=""><span>状态面板</span></a></li>
        <li class="forms"><a href="#" title="" class="exp"><span>统计面板</span><strong>4</strong></a>
            <ul class="sub">
                <li><a href="forms.html" title="">统计1</a></li>
                <li><a href="form_validation.html" title="">统计2</a></li>
                <li><a href="form_editor.html" title="">统计3</a></li>
                <li class="last"><a href="form_wizards.html" title="">统计4</a></li>
            </ul>
        </li>
        <li class="tables"><a href="/game" title="" {{if eq .active "server"}} class="active exp" id="current" {{else}}class="exp"{{end}}  ><span>服务器管理</span></a>
            <ul class="sub">
                {{range $key, $game := .GameData}}
                <li><a href="/game/{{$game.Id}}" title="">{{$game.Name}}</a></li>
                {{end}}
            </ul>
        </li>
        <li class="tables"><a href="tables.html" title="" class="exp"><span>记录表</span><strong>3</strong></a>
            <ul class="sub">
                <li><a href="table_static.html" title="">Static tables</a></li>
                <li><a href="table_dynamic.html" title="">Dynamic table</a></li>
                <li class="last"><a href="table_sortable_resizable.html" title="">Sortable &amp; resizable tables</a></li>
            </ul>
        </li>
        <li class="widgets"><a href="#" title="" class="exp"><span>Widgets and grid</span><strong>2</strong></a>
            <ul class="sub">
                <li><a href="widgets.html" title="">Widgets</a></li>
                <li class="last"><a href="grid.html" title="">Grid</a></li>
            </ul>
        </li>
        <li class="errors"><a href="#" title="" class="exp"><span>Error pages</span><strong>6</strong></a>
            <ul class="sub">
                <li><a href="403.html" title="">403 page</a></li>
                <li><a href="404.html" title="">404 page</a></li>
                <li><a href="405.html" title="">405 page</a></li>
                <li><a href="500.html" title="">500 page</a></li>
                <li><a href="503.html" title="">503 page</a></li>
                <li class="last"><a href="offline.html" title="">Website is offline</a></li>
            </ul>
        </li>
        <li class="files"><a href="file_manager.html" title=""><span>File manager</span></a></li>
        <li class="typo"><a href="#" title="" class="exp"><span>Other pages</span><strong>3</strong></a>
            <ul class="sub">
                <li><a href="typography.html" title="">Typography</a></li>
                <li><a href="calendar.html" title="">Calendar</a></li>
                <li class="last"><a href="gallery.html" title="">Gallery</a></li>
            </ul>
        </li>
    </ul>
</div>
{{end}}
{{define "Nav"}}
<div class="topNav">
        <div class="wrapper">
            <div class="welcome"><a href="#" title=""><img src="/static/images/userPic.png" alt="" /></a><span>{{.User.NickName}}</span></div>
            <div class="userNav">
                <ul>
                    <li><a href="#" title=""><img src="/static/images/icons/topnav/profile.png" alt="" /><span>Profile</span></a></li>
                    <li><a href="#" title=""><img src="/static/images/icons/topnav/tasks.png" alt="" /><span>Tasks</span></a></li>
                    <li class="dd"><a title=""><img src="/static/images/icons/topnav/messages.png" alt="" /><span>Messages</span><span class="numberTop">8</span></a>
                        <ul class="userDropdown">
                            <li><a href="#" title="" class="sAdd">new message</a></li>
                            <li><a href="#" title="" class="sInbox">inbox</a></li>
                            <li><a href="#" title="" class="sOutbox">outbox</a></li>
                            <li><a href="#" title="" class="sTrash">trash</a></li>
                        </ul>
                    </li>
                    <li><a href="#" title=""><img src="/static/images/icons/topnav/settings.png" alt="" /><span>Settings</span></a></li>
                    <li><a href="login?quit=true" title=""><img src="/static/images/icons/topnav/logout.png" alt="" /><span>Logout</span></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{{end}}

{{define "Footer"}}
<div id="footer">
        <div class="wrapper">As usually all rights reserved. <a href="http://www.sininm.com/" target="_blank" title="雪彩网络">雪彩网络</a> </div>
</div>
{{end}}