<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <title>Crown - premium responsive admin template for backend systems</title>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>

    <script type="text/javascript" src="/static/js/plugins/spinner/ui.spinner.js"></script>
    <script type="text/javascript" src="/static/js/plugins/spinner/jquery.mousewheel.js"></script>

    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>

    <script type="text/javascript" src="/static/js/plugins/charts/excanvas.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/charts/jquery.sparkline.min.js"></script>

    <script type="text/javascript" src="/static/js/plugins/forms/uniform.js"></script>
    <script type="text/javascript" src="/static/js/plugins/forms/jquery.cleditor.js"></script>
    <script type="text/javascript" src="/static/js/plugins/forms/jquery.validationEngine-en.js"></script>
    <script type="text/javascript" src="/static/js/plugins/forms/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="/static/js/plugins/forms/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/forms/autogrowtextarea.js"></script>
    <script type="text/javascript" src="/static/js/plugins/forms/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/forms/jquery.dualListBox.js"></script>
    <script type="text/javascript" src="/static/js/plugins/forms/jquery.inputlimiter.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/forms/chosen.jquery.min.js"></script>

    <script type="text/javascript" src="/static/js/plugins/wizard/jquery.form.js"></script>
    <script type="text/javascript" src="/static/js/plugins/wizard/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/wizard/jquery.form.wizard.js"></script>

    <script type="text/javascript" src="/static/js/plugins/uploader/plupload.js"></script>
    <script type="text/javascript" src="/static/js/plugins/uploader/plupload.html5.js"></script>
    <script type="text/javascript" src="/static/js/plugins/uploader/plupload.html4.js"></script>
    <script type="text/javascript" src="/static/js/plugins/uploader/jquery.plupload.queue.js"></script>

    <script type="text/javascript" src="/static/js/plugins/tables/datatable.js"></script>
    <script type="text/javascript" src="/static/js/plugins/tables/tablesort.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/tables/resizable.min.js"></script>

    <script type="text/javascript" src="/static/js/plugins/ui/jquery.tipsy.js"></script>
    <script type="text/javascript" src="/static/js/plugins/ui/jquery.collapsible.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/ui/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/static/js/plugins/ui/jquery.progress.js"></script>
    <script type="text/javascript" src="/static/js/plugins/ui/jquery.timeentry.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/ui/jquery.colorpicker.js"></script>
    <script type="text/javascript" src="/static/js/plugins/ui/jquery.jgrowl.js"></script>
    <script type="text/javascript" src="/static/js/plugins/ui/jquery.breadcrumbs.js"></script>
    <script type="text/javascript" src="/static/js/plugins/ui/jquery.sourcerer.js"></script>

    <script type="text/javascript" src="/static/js/plugins/calendar.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/elfinder.min.js"></script>

    <script type="text/javascript" src="/static/js/custom.js"></script>

    <!-- Shared on MafiaShare.net  -->
    <!-- Shared on MafiaShare.net  -->
</head>

<body style="background:url(/static/images/backgrounds/bg.jpg)">

    <!-- Right side -->
    <div id="rightSide">
        <!-- Main content wrapper -->
        <div class="wrapper">

            <!-- Static table -->
            <div class="widget">
                <div class="title"><img src="/static/images/icons/dark/frames.png" alt="" class="titleIcon" />
                    <h6>用户日志列表</h6>
                </div>
                <table cellpadding="0" cellspacing="0" width="100%" class="sTable">
                    <thead>
                        <tr>
                            <td>
                                <div>版本号<span></span></div>
                            </td>
                            <td>
                                <div>项目名称<span></span></div>
                            </td>
                            <td>
                                <div>角色名称<span></span></div>
                            </td>
                            <td>
                                <div>客户端ID<span></span></div>
                            </td>
                            <td>
                                <div>设备型号<span></span></div>
                            </td>
                            <td>
                                <div>系统版本<span></span></div>
                            </td>
                            <td>
                                <div>运行时间<span></span></div>
                            </td>
                            <td>
                                <div>剩余内存<span></span></div>
                            </td>
                            <td>
                                <div>游戏ID<span></span></div>
                            </td>
                            <td>
                                <div>Type<span></span></div>
                            </td>
                            <td>
                                <div>生命周期<span></span></div>
                            </td>
                            <td>
                                <div>场景ID<span></span></div>
                            </td>
                            <td>
                                <div>游戏账号<span></span></div>
                            </td>
                            <td>
                                <div>渠道编号<span></span></div>
                            </td>
                            <td>
                                <div>SDK版本<span></span></div>
                            </td>
                            <td>
                                <div>总内存大小<span></span></div>
                            </td>
                            <td>
                                <div>是否越狱<span></span></div>
                            </td>
                            <td>
                                <div>崩溃package<span></span></div>
                            </td>

                            <td>
                                <div>日志<span></span></div>
                            </td>
                            <td class="sortCol">
                                <div>上传日期<span></span></div>
                            </td>
                            <td>
                                <div>大小<span></span></div>
                            </td>
                            <td>
                                <div>操作</div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $K, $f := .files}}
                        <tr>
                            {{if $f.LogInfo}}
                            <td>{{$f.LogInfo.Version }}</td>
                            <td>{{$f.LogInfo.ProjectName }}</td>
                            <td>{{$f.LogInfo.RoleName }}</td>
                            <td>{{$f.LogInfo.Guid }}</td>
                            <td>{{$f.LogInfo.Device }}</td>
                            <td>{{$f.LogInfo.OsVer }}</td>
                            <td>{{$f.LogInfo.Ptime }}</td>
                            <td>{{$f.LogInfo.FMemory }}</td>
                            <td>{{$f.LogInfo.GameId }}</td>
                            <td>{{$f.LogInfo.Type }}</td>
                            <td>{{$f.LogInfo.LifeSpan }}</td>
                            <td>{{$f.LogInfo.SceneId }}</td>
                            <td>{{$f.LogInfo.UserAccount }}</td>
                            <td>{{$f.LogInfo.ChannelId }}</td>
                            <td>{{$f.LogInfo.SdkVersion }}</td>
                            <td>{{$f.LogInfo.TotalMemory }}</td>
                            <td>{{$f.LogInfo.IsRoot }}</td>
                            <td>{{$f.LogInfo.CrashPackage}}</td>
                            {{else}}
                            <td/>
                            <td/>
                            <td/>
                            <td/>
                            <td/>
                            <td/>
                            <td/>
                            <td/>
                            <td/>
                            <td/>
                            <td/>
                            <td/>
                            <td/>
                            <td/>
                            <td/>
                            <td/>
                            <td/>
                            <td/> {{end}}
                            <td><a href="{{$f.FileUrl}}">{{$f.FileName}}</a></td>
                            <td>{{$f.CreateTime}}</td>
                            <td>{{$f.Size}}</td>
                            <td><a>删除</a></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>

                {{if gt .paginator.PageNums 1}}
                <div style="border-top: 1px solid #D5D5D5">
                    <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers">
                        {{if .paginator.HasPrev}}
                        <span class="toFirst ui-corner-tl ui-corner-bl fg-button ui-button "><a href="{{.paginator.PageLinkFirst}}">{{i18n .Lang "paginator.first_page"}}</a></span>
                        <span class="previous fg-button ui-button"><a href="{{.paginator.PageLinkPrev}}">&lt;</a></span> {{else}}
                        <span class="toFirst ui-corner-tl ui-corner-bl fg-button ui-button ui-state-disabled">{{i18n .Lang "paginator.first_page"}}</span>
                        <span class="previous fg-button ui-button ui-state-disabled">&lt;</span> {{end}}
                        <span>
                {{range $index, $page := .paginator.Pages}}
                    <span class="fg-button ui-button {{if $.paginator.IsActive .}}  ui-state-disabled {{end}}"><a href="{{$.paginator.PageLink $page}}">{{$page}}</a></span> {{end}}
                        </span>
                        {{if .paginator.HasNext}}
                        <span class="next fg-button ui-button"><a href="{{.paginator.PageLinkNext}}">&gt;</a></span>
                        <span class="last ui-corner-tr ui-corner-br fg-button ui-button"><a href="{{.paginator.PageLinkLast}}">{{i18n .Lang "paginator.last_page"}}</span> {{else}}
                        <span class="next fg-button ui-button ui-state-disabled"><a href="{{.paginator.PageLinkNext}}">&gt;</a></span>
                        <span class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-disabled"><a href="{{.paginator.PageLinkLast}}">{{i18n .Lang "paginator.last_page"}}</span> {{end}}
                    </div>
                </div>
                {{end}}

            </div>
        </div>

        <!-- Footer line -->
        {{template "Footer" .}}

    </div>

    <div class="clear"></div>

</body>

</html>