{{template "Header" .}}
<body style="background:url(/static/images/backgrounds/bg.jpg)">




<!-- Right side -->
<div id="rightSide">
    
    <!-- Main content wrapper -->
    <div class="wrapper">
        <!-- Multiple files uploader -->
        <div class="widget">
            <div class="title"><img src="/static/images/icons/dark/upload.png" alt="" class="titleIcon" /><h6>Multiple file uploader</h6></div>
            <div id="uploader"></div>
        </div>
    </div>
    
    {{template "Footer" .}}

</div>

<div class="clear"></div>

</body>
</html>